<html>
  <body>
    <h1>Categories</h1>
    <ul>
      <% console.log(categories) %>
      <% categories.forEach(category => { %>
        <li><%= category.name %></li>
      <% }); %>
    </ul>
  </body>
</html>
