<html>
  <body>
    <h1>Categories</h1>
    <ul>
      <% categories.forEach(category => { %>
        <li>
          <%= category.name %>
          <a href="/categories/<%= category.name %>">
            <button>View Category</button>
          </a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>

